Backend/API/bin
Backend/API/obj
Backend/API/.vscode
Backend/API/.vs
Backend/API/.idea
Backend/Tests/.idea
Backend/Tests/.vs
Backend/Tests/.vscode
Backend/Tests/bin
Backend/Tests/obj
Backend/Shared/.idea
Backend/Shared/.vs
Backend/Shared/.vscode
Backend/Shared/bin
Backend/Shared/obj
.idea
.vs
.vscode
.github
